<a href="/cart" class="site-header__cart">
<span>CART</span>
  <span class="visually-hidden">{{ 'layout.cart.title' | t }}</span>
  <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
  {% if cart.item_count > 0 %}

  <style>.site-header__cart {background:#fff; color:#000;}</style>
    <div id="CartCount" class="site-header__cart-count">
      <span>{{ cart.item_count }}</span>
      <span class="icon__fallback-text hidden-md-up">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
    </div>
  {% endif %}
</a>
