<button type="button" class="btn--link site-header__search-toggle js-drawer-open-top">
  {% include 'icon-search' %}
  <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
</button>
