<div class="container social-bar">
<div class="container inner-social-bar">
 <!-- Social Connect Message -->   
<div class="container text-social">
Follow Us On Social
</div>
 <!-- Social Icon Container -->   
<div class="container social-icon">
<a href="https://www.facebook.com/poc">
<img class="social-icon" src="{{ 'facebook-icon.png'  | asset_img_url: '25x' }}"  alt="Visit POC Sport's Facebook Page" />
</a>
<a href="https://twitter.com/POCSports">
<img class="social-icon" src="{{ 'twitter-icon.png'   | asset_img_url: '25x' }}"  alt="Visit POC Sport's Twitter Page" />
</a>
<a href="https://www.instagram.com/pocsports/">
<img class="social-icon" src="{{ 'instagram-icon.png' | asset_img_url: '25x' }}"  alt="Visit POC Sport's Instagram Page" />
</a>
<a href="https://www.youtube.com/channel/UCm55EDQIcVbwUdE48nFPGWQ">
<img class="social-icon" src="{{ 'youtube-icon.png'   | asset_img_url: '25x'}}"  alt="Visit POC Sport's YouTube Channel" />
</a>
</div>
</div>
</div>
