<style>
.hero-banner {
    position: relative;    
    padding: 20% 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-banner h2 {
    position: absolute;
    bottom: 0;
}
</style>
<div class="about-us-template">
{% section 'slideshow2' %}
  {% section 'custom-content' %}
</div>
